<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900">
        <h1 class="text-white p-4 text-center text-5xl font-semibold tracking-tight">You are registered</h1>
        <h4 class="text-white p-4 text-center text-xl font-semibold tracking-tight">click here and redirect yourself to<a href="/login" class="text-sm text-blue-700 text-xl p-1">login</a>page.</h4>
    </div>
</body>
</html>